In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df.describe

<bound method NDFrame.describe of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
5     57    1   0       140   192    0        1      148      0      0.4
6     56    0   1       140   294    0        0      153      0      1.3
7     44    1   1       120   263    0        1      173      0      0.0
8     52    1   2       172   199    1        1      162      0      0.5
9     57    1   2       150   168    0        1      174      0      1.6
10    54    1   0       140   239    0        1      160      0      1.2
11    48    0   2       130   275    0        1      139      0      0.2
12    49    1   1       130   266    0        1      171      0      0.6
13    64    1   3       110   211    0        0      144      1      1.8
14    58    0   3       150   283    1        0      162      0      1.0
15    50    0   2       120   219    0        1      158      0      1.6
16    58    0   2       120   340    0        1      172      0      0.0
17    66    0   3       150   226    0        1      114      0      2.6
18    43    1   0       150   247    0        1      171      0      1.5
19    69    0   3       140   239    0        1      151      0      1.8
20    59    1   0       135   234    0        1      161      0      0.5
21    44    1   2       130   233    0        1      179      1      0.4
22    42    1   0       140   226    0        1      178      0      0.0
23    61    1   2       150   243    1        1      137      1      1.0
24    40    1   3       140   199    0        1      178      1      1.4
25    71    0   1       160   302    0        1      162      0      0.4
26    59    1   2       150   212    1        1      157      0      1.6
27    51    1   2       110   175    0        1      123      0      0.6
28    65    0   2       140   417    1        0      157      0      0.8
29    53    1   2       130   197    1        0      152      0      1.2
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
273   58    1   0       100   234    0        1      156      0      0.1
274   47    1   0       110   275    0        0      118      1      1.0
275   52    1   0       125   212    0        1      168      0      1.0
276   58    1   0       146   218    0        1      105      0      2.0
277   57    1   1       124   261    0        1      141      0      0.3
278   58    0   1       136   319    1        0      152      0      0.0
279   61    1   0       138   166    0        0      125      1      3.6
280   42    1   0       136   315    0        1      125      1      1.8
281   52    1   0       128   204    1        1      156      1      1.0
282   59    1   2       126   218    1        1      134      0      2.2
283   40    1   0       152   223    0        1      181      0      0.0
284   61    1   0       140   207    0        0      138      1      1.9
285   46    1   0       140   311    0        1      120      1      1.8
286   59    1   3       134   204    0        1      162      0      0.8
287   57    1   1       154   232    0        0      164      0      0.0
288   57    1   0       110   335    0        1      143      1      3.0
289   55    0   0       128   205    0        2      130      1      2.0
290   61    1   0       148   203    0        1      161      0      0.0
291   58    1   0       114   318    0        2      140      0      4.4
292   58    0   0       170   225    1        0      146      1      2.8
293   67    1   2       152   212    0        0      150      0      0.8
294   44    1   0       120   169    0        1      144      1      2.8
295   63    1   0       140   187    0        0      144      1      4.0
296   63    0   0       124   197    0        1      136      1      0.0
297   59    1   0       164   176    1        0       90      0      1.0
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
5        1   0     1       1
6        1   0     2       1
7        2   0     3       1
8        2   0     3       1
9        2   0     2       1
10       2   0     2       1
11       2   0     2       1
12       2   0     2       1
13       1   0     2       1
14       2   0     2       1
15       1   0     2       1
16       2   0     2       1
17       0   0     2       1
18       2   0     2       1
19       2   2     2       1
20       1   0     3       1
21       2   0     2       1
22       2   0     2       1
23       1   0     2       1
24       2   0     3       1
25       2   2     2       1
26       2   0     2       1
27       2   0     2       1
28       2   1     2       1
29       0   0     2       1
..     ...  ..   ...     ...
273      2   1     3       0
274      1   1     2       0
275      2   2     3       0
276      1   1     3       0
277      2   0     3       0
278      2   2     2       0
279      1   1     2       0
280      1   0     1       0
281      1   0     0       0
282      1   1     1       0
283      2   0     3       0
284      2   1     3       0
285      1   2     3       0
286      2   2     2       0
287      2   1     2       0
288      1   1     3       0
289      1   1     3       0
290      2   1     3       0
291      0   3     1       0
292      1   2     1       0
293      1   0     3       0
294      0   0     1       0
295      2   2     3       0
296      1   0     2       0
297      1   2     1       0
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

df.isnull().sum().sum()

In [6]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

## Correlation
import seaborn as sns
import matlotlib.pyplot as plt
# mendapatkan korelasi dari setiap features
corrmat = data.corr()
plt.figure(figsize =(20,20))
#plot heat map
g-sns.heatmap (data[top_corr_features].corr(),annot=True, cmap="Rdy1Gn")

In [9]:
## training test split
from sklearn.model_selection import train_test_split
features = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca']
target = ['target']

In [10]:
X = df[features].values
y = df[target].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 10)
print ("The Train set size ", X_train.shape)
print ("The Test set size ", X_test.shape)

The Train set size  (212, 12)
The Test set size  (91, 12)

In [11]:
from sklearn.preprocessing import Imputer
fill_values = Imputer(missing_values = 0, strategy="mean", axis=0)
X_train = fill_values.fit_transform(X_train)
X_test = fill_values.fit_transform(X_test)

In [12]:
# import library Machine Learning
from sklearn.ensemble import RandomForestClassifier
random_forest_model = RandomForestClassifier (random_state = 10)
random_forest_model.fit(X_train, y_train.ravel())

D:\anaconda2\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=10, verbose=0, warm_start=False)

In [13]:
predict_train_data = random_forest_model.predict(X_test)
from sklearn import metrics
print ("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_test, predict_train_data)))

Accuracy = 0.637