In [3]:
import pandas as pd

In [15]:
zoo_df = pd.DataFrame(data={'Bulan': ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],
                   'Tahun_2017' : ['30_438', '21_447', '21_843', '21_914', '20_328', '20_185', '19_664', '20_401', '19_396', '21_893', '22_168', '27_639'],
                  'Tahun_2018' : ['43_367', '28_724', '30_248', '29_259', '31_811', '31_114', '35_913', '28_276', '29_342', '30_690', '30_818', '39_024'],
                  'Tahun_2019' : ['52_471', '35_260', '38_149', '38_853', '40_258', '47_812', '41_905', '43_141', '42_523', '43_754', '44_394', '49_240'],
                  'Tahun_2020' : ['58_729', '39_487', '0', '0', '0', '0', '0', '0', '22_368', '23_174', '25_539', '27_605'],
                  'Tahun_2021' : ['24_143', '14_457', '15_816', '15_294', '17_620', '14_259', '15_611', '14_803', '14_538', '15_304', '14_972', '27_130']})
zoo_df.head()

      Bulan Tahun_2017 Tahun_2018 Tahun_2019 Tahun_2020 Tahun_2021
0   Januari     30_438     43_367     52_471     58_729     24_143
1  Februari     21_447     28_724     35_260     39_487     14_457
2     Maret     21_843     30_248     38_149          0     15_816
3     April     21_914     29_259     38_853          0     15_294
4       Mei     20_328     31_811     40_258          0     17_620

In [18]:
y = zoo_df ['Tahun_2021']
y

0     24_143
1     14_457
2     15_816
3     15_294
4     17_620
5     14_259
6     15_611
7     14_803
8     14_538
9     15_304
10    14_972
11    27_130
Name: Tahun_2021, dtype: object

In [27]:
features = ['Tahun_2017', 'Tahun_2018', 'Tahun_2019', 'Tahun_2020']
X = zoo_df[features]
X

   Tahun_2017 Tahun_2018 Tahun_2019 Tahun_2020
0      30_438     43_367     52_471     58_729
1      21_447     28_724     35_260     39_487
2      21_843     30_248     38_149          0
3      21_914     29_259     38_853          0
4      20_328     31_811     40_258          0
5      20_185     31_114     47_812          0
6      19_664     35_913     41_905          0
7      20_401     28_276     43_141          0
8      19_396     29_342     42_523     22_368
9      21_893     30_690     43_754     23_174
10     22_168     30_818     44_394     25_539
11     27_639     39_024     49_240     27_605

In [23]:
X.describe

<bound method NDFrame.describe of         Bulan Tahun_2017 Tahun_2018 Tahun_2019 Tahun_2020
0     Januari     30_438     43_367     52_471     58_729
1    Februari     21_447     28_724     35_260     39_487
2       Maret     21_843     30_248     38_149          0
3       April     21_914     29_259     38_853          0
4         Mei     20_328     31_811     40_258          0
5        Juni     20_185     31_114     47_812          0
6        Juli     19_664     35_913     41_905          0
7     Agustus     20_401     28_276     43_141          0
8   September     19_396     29_342     42_523     22_368
9     Oktober     21_893     30_690     43_754     23_174
10   November     22_168     30_818     44_394     25_539
11   Desember     27_639     39_024     49_240     27_605>

In [28]:
from sklearn.tree import DecisionTreeRegressor

In [29]:
target_model = DecisionTreeRegressor (random_state=1)

In [30]:
target_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [31]:
target_model.predict(X.head())

array([24143., 14457., 15816., 15294., 17620.])

In [32]:
y.head()

0    24_143
1    14_457
2    15_816
3    15_294
4    17_620
Name: Tahun_2021, dtype: object

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

D:\anaconda2\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [34]:
y_hat = target_model.predict(X)
mean_absolute_error (y, y_hat)

0.0

In [35]:
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = 0.1)
y_train.head()

5     14_259
2     15_816
10    14_972
3     15_294
7     14_803
Name: Tahun_2021, dtype: object

In [36]:
target_model = DecisionTreeRegressor (random_state = 1)
target_model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [37]:
y_hat = target_model.predict(X_test)
mean_absolute_error (y_test, y_hat)

6476.0

In [38]:
def get_mae (max_leaf_nodes, X_train, X_test, y_train, y_test):
    target_model = DecisionTreeRegressor (max_leaf_nodes=max_leaf_nodes, random_state = 1)
    target_model.fit(X_train, y_train)
    y_hat = target_model.predict(X_test)
    mae = mean_absolute_error (y_test, y_hat)
    return mae

In [40]:
for max_leaf_nodes in [5, 50, 500, 5000] :
    leaf_mae = get_mae (max_leaf_nodes, X_train, X_test, y_train, y_test)
    print (f' Max leaf nodes : {max_leaf_nodes} \t Mean Absolute Error : {int(leaf_mae)}')

 Max leaf nodes : 5 	 Mean Absolute Error : 6604
 Max leaf nodes : 50 	 Mean Absolute Error : 6476
 Max leaf nodes : 500 	 Mean Absolute Error : 6476
 Max leaf nodes : 5000 	 Mean Absolute Error : 6476

In [41]:
rf_df = RandomForestRegressor (n_estimators=50, random_state = 1)
rf_df.fit (X_train, y_train)
y_hat = rf_df.predict(X_test)
print (f'Mean Absolute Error:{int(mean_absolute_error(y_test, y_hat))}')

Mean Absolute Error:2091